 body {
     margin: 0px;
 }
 
 .container {
     width: 100%;
     min-height: 340px;
     display: flex;
     color: #383838
 }
 
 #banner {
     display: flex;
     justify-content: center;
     background-image: url('../img/elon-musk.jpg');
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
 }
 
 .banner_desc {
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin: 20px;
 }
 
 .banner_desc h1 {
     color: white;
     font-size: 90px;
     width: 450px;
     margin-bottom: 10px;
 }
 
 .banner_desc h2 {
     margin-top: 0px;
     color: #f5f0f0;
     text-shadow: 0px 1px 0px rgb(0, 0, 0, 50%);
 }
 
 #info {
     background-color: #2020201c;
     padding-top: 50px;
     padding-bottom: 20px;
     font-family: 'Montserrat', sans-serif;
 }
 
 .InfoTitle {
     font-size: 35px;
     flex-direction: column;
     text-align: center;
     padding-bottom: 20px;
 }
 
 .column {
     flex-direction: column;
 }
 
 .row {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }
 
 .col {
     flex: 1;
 }
 
 .row a {
     text-decoration: none;
     color: inherit;
 }
 
 .card {
     width: 250px;
     height: 250px;
     max-width: 250px;
     max-height: 250px;
     border-radius: 5px;
     box-shadow: 0px 0px 15px #4d4c4c4d;
     margin: auto;
     margin-bottom: 10px;
     padding: 20px;
 }
 
 .card:hover {
     box-shadow: 0px 0px 30px #4d4c4ca2;
     background-color: rgb(248, 243, 237);
 }
 
 .img1 {
     background-image: url('../img/card-img.png');
 }
 
 .img2 {
     background-image: url('../img/card-img2.png');
 }
 
 .cardText {
     font-size: 14px;
     padding-top: 10px;
 }
 
 .table {
     max-width: max-content;
     max-height: max-content;
     font-size: 12px;
 }
 
 .row {
     display: flex;
     margin: 5px;
 }
 
 .col {
     flex: 1;
     margin: 5px;
 }
 
 .bold {
     font-weight: bold;
 }
 
 .tesla,
 .spacex {
     flex: 1;
     padding: 10px;
 }
 
 #footer_area .container {
     justify-content: center;
     min-height: 100px;
     max-height: 200px;
     text-align: center;
 }
 
 .tesla img {
     width: 200px;
 }
 
 .spacex img {
     width: 200px;
 }
 
 #footer_area {
     background-color: #2e2e2ec5;
 }
 
 .bar {
     border-top: 1px solid rgba(229, 229, 235, 0.473);
 }
 
 .copy {
     color: rgb(229, 229, 235);
     text-align: center;
 }
 
 @media (max-width:600px) {
     body {
         margin: 0px;
     }
     .container {
         width: 100%;
     }
     #banner {
         background-position: center;
     }
     .banner_desc h1 {
         font-size: 50px;
         width: 200px;
     }
     .banner_desc h2 {
         font-size: 12px;
     }
     .title {
         text-align: center;
         font-size: 25px;
     }
     .display-none {
         display: none;
     }
     .oder1 {
         order: 2;
     }
     .tesla img {
         width: 100px;
     }
     .spacex img {
         width: 100px;
     }
 }
 
 @media (min-width:600px) and (max-width:990px) {
     .order2 {
         order: 2;
     }
     .order1 {
         order: 1;
     }
 }